<section class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap container">

    <header class="row">

      {% if page.header %}
        <div class="col-md-8 large-8 columns">
          {{ page.header }}
        </div>
      {% endif %}

      <div class="col-md-4 large-4 user-details columns hide-for-small hidden-xs hidden-sm">
        {#<p>#}
          {% if logged_in %}
            <a href="{{ path('user.page') }}"
               class="user-button">{{ 'My Account'|t }}</a>
            <a href="{{ path('user.logout') }} "
               class="user-button">{{ 'Logout'|t }}</a>
          {% else %}
            <a href="{{ path('user.register') }}"
               class="user-button">{{ 'Sign Up Free'|t }}</a>
            <a href="{{ path('user.login') }}"
               class="user-button">{{ 'Login'|t }}</a>
          {% endif %}
        {#</p>#}
      </div>

      <div class="col-xs-12 col-sm-12 show-for-small hidden-lg hidden-md">
        {% if logged_in %}
          <a href="{{ path('user.page') }}"
             class="btn btn-primary radius button success user-button">{{ 'My Account'|t }}</a>
          <a href="{{ path('user.logout') }}"
             class="btn btn-success radius button user-button">{{ 'Logout'|t }}</a>
        {% else %}
          <a href="{{ path('user.register') }}"
             class="btn btn-primary radius button user-button">{{ 'Sign Up Free'|t }}</a>
          <a href="{{ path('user.login') }}"
             class="btn btn-success radius button success user-button">{{ 'Login'|t }}</a>
        {% endif %}
      </div>
    </header>

    <div class="main-menu">
      {% if page.navigation %}
        <div class="row">
          <div class="large-12 columns col-md-12">
            {{ page.navigation }}
          </div>
        </div>
      {% endif %}
    </div>

    {% if page.help %}
      <div class="l-help row">
        <div class="large-12 columns col-md-12">
          {{ page.help }}
        </div>
      </div>
    {% endif %}

    {% if is_front %}

      {% if page.banner %}
        <div class="banner">
          <div class="large-12 columns col-md-12">
            {{ page.banner }}
          </div>
        </div>
      {% endif %}

      <div class="intro_text">
        {% if page.intro_text %}
          <div class="row">
            <div class="large-12 columns col-md-12">
              {{ page.intro_text }}
            </div>
          </div>
        {% endif %}
      </div>

      {% if page.featured_top_first or page.featured_top_second or page.feature_last %}
        <div class="featured_top">
          <div class="row">
            {% if page.featured_top_first %}
              <div id="featured_top_first" class="large-4 columns col-md-4">
                {{ page.featured_top_first }}
              </div>
            {% endif %}
            {% if page.featured_top_second %}
              <div id="featured_top_second" class="large-4 columns col-md-4">
                {{ page.featured_top_second }}
              </div>
            {% endif %}
            {% if page.featured_top_third %}
              <div id="featured_top_third" class="large-4 columns col-md-4">
                {{ page.featured_top_third }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}{# if page.featured_top_first or page.featured_top_second or page.feature_last #}

      {% if page.footer_top_first or page.footer_top_second %}
        <div class="footer-top">
          <div class="row">
            {% if page.footer_top_first %}
              <div id="footer_top_first" class="large-6 columns col-md-6">
                {{ page.footer_top_first }}
              </div>
            {% endif %}
            {% if page.footer_top_second %}
              <div id="footer_top_second" class="large-6 columns col-md-6">
                {{ page.footer_top_second }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}{# if page.footer_top_first or page.footer_top_second #}

    {% else %}{# is_front #}

      {% if page.content_banner %}
        <div class="content-banner">
          <div class="large-12 columns">
            {{ page.content_banner }}
          </div>
        </div>
      {% endif %}

      <div class="row main-content">
        <div id="main" class="{{ main_grid }} columns">
          <a id="main-content" tabindex="-1"></a>
          {% if breadcrumb %} {{ breadcrumb }} {% endif %}
          {% if title and not is_front %}
            {{ title_prefix }}
            <h1 id="page-title" class="title">{{ title }}</h1>
            {{ title_suffix }}
          {% endif %}
          {{ page.content }}
        </div>
        {% if page.sidebar_first %}
          <div id="sidebar-first"
               class="{{ sidebar_first_grid }} columns sidebar ">
            {{ page.sidebar_first }}
          </div>
        {% endif %}
        {% if page.sidebar_second %}
          <div id="sidebar-second"
               class="{{ sidebar_sec_grid }} columns sidebar">
            {{ page.sidebar_second }}
          </div>
        {% endif %}
      </div>

    {% endif %}{# is_front #}


    <footer class="layout-footer-bottom row">
      {{ page.footer_bottom }}
      <div style="text-align: center; padding: 5px;">
        <a href="http://www.greenlandtechnology.com/"> A GreenLand Technologies SMS Company </a>
      </div>
    </footer>

  </div>
</section>
