<div class="container">
  <div class="col-xs-12 col-sm-4 col-sm-offset-1 pull-right">
    <div class="row main-content user-login">
      {{ page.site_brand }}
      <div id="main" class="{{ main_grid_class }}">
        <a id="main-content"></a>
        {{ page.content }}
      </div>
    </div>


    {% if page.adblock_2 %}
      <div class="adblock adblock-2">
        {{ page.adblock_2 }}
      </div>
    {% endif %}
  </div>

  {% if page.adblock_1 %}
    <div class="col-xs-12 col-sm-7">
      <div class="adblock adblock-1">
        {{ page.adblock_1 }}
      </div>
    </div>
  {% endif %}
</div>

<div style="text-align: center; padding: 5px;">
  <a href="http://www.greenlandtechnology.com/"> A GreenLand Technologies SMS Company </a>
</div>
