<section class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

     <header class="row">
	 
	  {% if page.header %}
          <div class="large-8 columns">
            {{ page.header }}
          </div>
      {% endif %}

      
	  <div class="large-4 user-details columns hide-for-small">
		<p>
		  {% if logged_in %}
			<a href="{{ path('user.page') }}" class="user-botton">{{ 'My Account'|t }}</a>
			<a href="{{ path('user.logout') }} " class="user-botton-two">{{ 'Logout'|t }}</a>
		  {% else %}
			<a href="{{ path('user.register') }}" class="user-botton">{{ 'Sign Up Free'|t }}</a>
			<a href="{{ path('user.login') }}" class="user-botton-two">{{ 'Login'|t }}</a>
		  {% endif %}
		</p>
	  </div>
	
	  <div class="show-for-small">
		<div class="six mobile-two columns">
		  <p>
			<a href="{{ path('user.login') }}" class="radius button">{{ 'Login'|t }}</a>
		  </p>
		</div>
		<div class="six mobile-two columns">
		  <p>
			<a href="{{ path('user.register') }}" class="radius success button">{{ 'Sign Up'|t }}</a>
		  </p>
		</div>
			
          </header>
		  
	<div class="main-menu">
	 {% if page.navigation %}
	   <div class="row">
	    <div class="large-12 columns">
		 {{ page.navigation }}
	    </div>
	  </div>
	 {% endif %}
	</div>
      
      {% if page.help %}
      <div class="l-help row">
        <div class="large-12 columns">
          {{ page.help }}
        </div>
      </div>
      {% endif %}
	  
{% if is_front %}
	
	{% if page.banner %}
      <div class="banner">
		<div class="large-12 columns">
		  {{ page.banner }}
		</div>
	  </div>
    {% endif %}
	
	<div class="intro_text">
	  {% if page.intro_text %}
        <div class="row">
          <div class="large-12 columns">
            {{ page.intro_text }}
          </div>
        </div>
      {% endif %}
	</div>
	
	{% if page.featured_top_first or page.featured_top_second or page.feature_last %}
	 <div class="featured_top">
        <div class="row">
          {% if page.featured_top_first %}
            <div id="featured_top_first" class="large-4 columns">
              {{ page.featured_top_first }}
            </div>
          {% endif %}
          {% if page.featured_top_second %}
            <div id="featured_top_second" class="large-4 columns">
              {{ page.featured_top_second }}
            </div>
          {% endif %}
          {% if page.featured_top_third %}
            <div id="featured_top_third" class="large-4 columns">
              {{ page.featured_top_third }}
            </div>
          {% endif %}
        </div>
	 </div>
    {% endif %}
	
	{% if page.footer_top_first or page.footer_top_second %}
	 <div class="footer-top">
        <div class="row">
          {% if page.footer_top_first %}
            <div id="footer_top_first" class="large-6 columns">
              {{ page.footer_top_first }}
            </div>
          {% endif %}
          {% if page.footer_top_second %}
            <div id="footer_top_second" class="large-6 columns">
              {{ page.footer_top_second }}
            </div>
          {% endif %}
        </div>
	  </div>
    {% endif %}
	
	{% else %}
	
	<div class="content-banner">
	  {% if page.content_banner %}
		<div class="large-12 columns">
		  {{ page.content_banner }}
		</div>
      {% endif %}
	</div>
	
	<div class="row main-content">				
        <div id="main" class="{{ main_grid }} columns">
          <a id="main-content" tabindex="-1"></a>
          {% if breadcrumb %} {{ breadcrumb }} {% endif %}
          {% if title and not is_front %}
            {{ title_prefix }}
            <h1 id="page-title" class="title">{{ title }}</h1>
            {{ title_suffix }}
          {% endif %}
          {{ page.content }}
        </div>
        {% if page.sidebar_first %}
          <div id="sidebar-first" class="{{ sidebar_first_grid }} columns sidebar ">
            {{ page.sidebar_first }}
          </div>
        {% endif %}
        {% if page.sidebar_second %}
          <div id="sidebar-second" class="{{ sidebar_sec_grid }} columns sidebar">
            {{ page.sidebar_second }}
          </div>
        {% endif %}
    </div>
	 
	 {% endif %}
	 

   <footer class="layout-footer-bottom row">
		{{ page.footer_bottom }}
		<div style="text-align: center; padding: 5px;">
		  <a href="http://www.greenlandtechnology.com/"> A GreenLand Technologies SMS Company </a>
		</div>
    </footer>

  </div>
</section>