{% include 'nav-header.html.twig' %}
<div class="main-content">
  <div class="container">
    <div class="row">
      {% if page.sidebar_first %}
        <div id="sidebar-first" class="col-sm-3 columns sidebar ">
          {{ page.sidebar_first }}
        </div>
      {% endif %}

      <div class="col-sm-8">
        <div id="main">
          <a id="main-content" tabindex="-1"></a>
          {% if breadcrumb %} {{ breadcrumb }} {% endif %}
          {% if title and not is_front %}
            {{ title_prefix }}
            <h1 id="page-title" class="title">{{ title }}</h1>
            {{ title_suffix }}
          {% endif %}
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html.twig' %}