{{ attach_library('pluraltheme/frontpage') }}
{% include 'nav-header.html.twig' %}
<section class="section-front">
  <div class="banner">
    <div class="container">
      {#<div class="row">#}
        <div class="banner-region">
          <div class="cover-intro row">
            {%
              set top_class = page.section_one ? 'col-md-9 col-sm-8 col-xs-12' : 'col-sm-12'
            %}
            <div class="{{ top_class }} cover-wrap text-center">
              <h1 role="heading" aria-level="1" class="fsizeh1">Bulk SMS Amplified</h1>

              <p class="fsizeh3 clearfix">
                Send SMS to All Nigerian Networks and Worldwide!<br/>
                We provide you a platform with advanced features,
                short code, mobile-originated SMS etc.
              </p>
              <div class="call-to-action">
                <span class="sfwBtnWrapper">
                {% if logged_in %}
                  <span><a href="{{ path('sms_ui.send_bulk') }}" class="btn primary-cta user-button bg">{{ 'Send SMS'|t }}</a></span>
                {% else %}
                  <span><a href="{{ path('user.register') }}" class="btn primary-cta user-button bg">{{ 'Sign Up Free'|t }}</a></span>
                {% endif %}
                </span>
              </div>
            </div>

            {% if page.section_one %}
            <div class="col-md-3 col-sm-4 col-xs-12 cover-wrap">
              {{ page.section_one }}
            </div>
            {% endif %}
          </div>
        </div>
      {#</div>#}
    </div>
  </div>
</section>
{#
{% if page.section_one %}
<section class="region-section-four section-front">
  <div class="container">
    <div class="row">
	  <div class="col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-12">
      {{ page.section_one }}
     </div>
    </div>
  </div>
</section>
{% endif %}
#}

<section class="region-section-two section-front">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 text-center">
        <span class="fa-stack fa-lg fa-4x">
            <i class="fa fa-circle fa-stack-2x fa-color"></i>
            <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
        </span>

        <h3>Instant SMS Delivery</h3>
      </div>

      <div class="col-md-3 col-sm-6 text-center">
        <span class="fa-stack fa-lg fa-4x">
            <i class="fa fa-circle fa-stack-2x fa-color"></i>
            <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
        </span>

        <h3>VoIP Voice to Speech</h3>
      </div>

      <div class="col-md-3 col-sm-6 text-center">
        <span class="fa-stack fa-lg fa-4x">
            <i class="fa fa-circle fa-stack-2x fa-color"></i>
            <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
        </span>

        <h3>Online Payment</h3>
      </div>

      <div class="col-md-3 col-sm-6 text-center">
        <span class="fa-stack fa-lg fa-4x">
            <i class="fa fa-circle fa-stack-2x fa-color"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>

        <h3>24/7 Customer care</h3>
      </div>
    </div>
  </div>
</section>


{% if page.home_feat1 or page.home_feat2 or page.home_feat3 %}
  <section class="home-highlights">
    <div class="container">
      <div class="row">
        {% if page.home_feat1 %}
          <div class="home-feat-1 col-sm-4">{{ page.home_feat1 }}</div>
        {% endif %}
        {% if page.home_feat2 %}
          <div class="home-feat-2 col-sm-4">{{ page.home_feat2 }}</div>
        {% endif %}
        {% if page.home_feat3 %}
          <div class="home-feat-2 col-sm-4">{{ page.home_feat3 }}</div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

	
	{% if page.panel_left %}
    <div class="image-edge">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel-left">{{ page.panel_left }}</div>
          </div>
        </div>
      </div>
      <div class="edge-bg" style=""></div>
    </div>
  {% endif %}
			

{% if page.section_three %}
  <section class="region-section-three section-three">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {{ page.section_three }}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if page.section_four %}
  <section class="region-section-four section-front">
    <div class="container">
      <div class="row">
        {# Features of PluralSMS #}
        {{ page.section_four }}
      </div>
    </div>
  </section>
{% endif %}


<section class="region-section-eight section-front">
  <div class="container">
    <div class="row">
      {# Footer section #}
      {{ page.section_five }}
    </div>
  </div>
</section>

<section class="foot-imagebg section--even" data-overlay="8">
  <div class="background-image-holder"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h6>Work With PluralSMS</h6>

        <p class="lead">
          If you wish to integrate our Bulk SMS Framework into your new
          or existing website
        </p>
        <a class="btn btn--sm" href="#">
          <span class="btn__text">Arrange A Consultation</span>
        </a>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

{% include 'footer.html.twig' %}